@page
@model Projektopgave1._2.SeTemaModel
@{
}
<body>
 

    
    <div class="text-center">
        <h1 class="display-4">@Model.Tema.Name</h1>
        <img src="~/images/@Model.Tema.ImageName" width="500" height="250">
        <p>@Model.Tema.Description</p>

        
        <a asp-page="/Udstilling/AddUdstilling"
           class="btn btn-success btn-group-lg pull-right">
            Create Udstilling
        </a>
    </div>
</body>

