@page
@model Projektopgave1._2.BrugerKunstnerModel
@{
}
<h1> AllKunstner </h1>

    
<div class="containerBruger">
    <div class="row">
        @if (Model.Kunstnere.Count != 0)
        {
            @foreach (var item in Model.Kunstnere)
            {

                <div class="column-2 p-2">
                    <div class="card bg-dark text-white">


                        <a asp-page="SeKunstnerBruger" asp-route-id="@item.Id"> <img src="~/images/@item.ImageName" width="500" height="250" alt="Card image"></a>



                        <p class="centeredTitle"><strong>@item.Name</strong></p>
                        <p class="centeredDesrib"><em>@item.Description</em></p>

                    </div>
                </div>
            }
        }
        </div>
    </div>


