@page
@model Projektopgave1._2.BrugermenuModel
@{
}


<div class="containerBruger">
    <div class="row">

        @foreach (var item in Model.Temaer)
        {

            <div class="column-2 p-2">
                <div class="card bg-dark text-white">
                    
                        <img src="~/images/@item.ImageName" width="500" height="250" alt="Card image">
                    

                    <p class="centeredTitle"><strong>@item.Name</strong></p>
                    <p class="centeredDesrib"><em>@item.Description</em></p>

                </div>
            </div>
        }
    </div>

</div>



@*<div class="container">
        <div class="row">
            @foreach (var item in Model.Temaer)
            {

                <div class="col">@item.Name</div>
                <div class="col">@item.Name</div>
            }
        </div>
    </div>*@


