@page
@model Projektopgave1._2.HørUdstillingBrugerModel
@{
}

@*//container, progressbar, image og små ting
    Programming with Lam
    https://github.com/kaizhelam/Music-Player

    //kanpper og javascript:
    https://github.com/bradtraversy/vanillawebprojects/tree/master/music-player*@

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="player-body">

        <div class="player">

            <div class="wrapper">
                <a href="javascript:history.back()" class="action-btn back-button"><i class="fas fa-backward"></i></a>
                <button type="button" class="btn læs-med-btn btn-xxs" data-toggle="modal" data-target="#exampleModalLong" style="margin-left:70%; position:relative">Læs Med</button>
                <div class="details">
                    <div><img src="~/images/@Html.DisplayFor(model => model.Udstilling.ImageName) " class="track-art"></div>
                    <div class="track-name">@Html.DisplayFor(model => model.Udstilling.Name)</div>
                </div>

                <div class="slider_container">
                    <div class="current-time">00:00</div>
                    <input type="range" class="seek_slider">
                    <div class="total-duration">@Html.DisplayFor(model => model.Udstilling.Duration)</div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"> 1x </button>
                    <div class="dropdown-content">
                        <a href="#">0.75x</a>
                        <a href="#">1.25x</a>
                        <a href="#">1.5x</a>
                    </div>
                </div>

                <div id="music-container">
                    <div class="navigation">
                        <a href="#" class="action-btn"> <i class="fas fa-undo"></i></a>
                        <a href="#" class="action-btn"> <i class="fas fa-backward"></i></a>
                        <a href="#" id="play" class="action-btn action-btn-big"><i class="fas fa-play"></i></a>
                        <a href="#" class="action-btn"> <i class="fas fa-forward"></i></a>
                        <a href="#" class="action-btn"> <i class="fas fa-redo"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.DisplayFor(model => model.Udstilling.Description)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>