@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="forsidebody">        
            <img src="~/images/ProductBox10.png" class="center imgforside" />
    
        <button type="button" class="btn btn-dark center">Startmenu</button>

    </div>
</body>
</html>



