@page
@model IndexModel
@{
    ViewData["Title"] = "Forside";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>    
    <div>
        <img src="~/images/ProductBox10.png" class="center imgforside"  />
    </div>

</body>
</html>



