@page
@model Projektopgave1._2.SeKunstnerBrugerModel
@{
}

<div class="overskrift"><h1>Se Kunstner</h1></div>
<dd>
    <div>
        <img src="~/images/@Html.DisplayFor(model => model.Kunstner.ImageName) " class="track-art center">
    </div>
    <form method="post">
        <dl class="overskrift row">


            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kunstner.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kunstner.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kunstner.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kunstner.Description)
            </dd>

        </dl>

    </form>
    <div>
        <a href="javascript:history.back()" class="overskrift btn btn-secondary m-1">Tilbage</a>
    </div>
    </div>
