@page
@model Projektopgave1._2.SeTemaUdstillingerBrugerModel
@{
}
<h1>Vælg en udstilling </h1>
<div class="containerBruger">
    <div class="row">

        @foreach (var item in Model.Udstillinger)
        {

            <div class="column-2 p-2">
                <div class="card bg-dark text-white">

                    <a asp-page="HørUdstillingBruger" asp-route-id="@item.Id"> <img src="~/images/@item.ImageName" width="500" height="250" alt="Card image"></a>




                    <p class="centeredTitle"><strong>@item.Name</strong></p>

                </div>
            </div>
        }

    </div>
    <a href="javascript:history.back()" class="btn btn-secondary m-1">Tilbage</a>
</div>
