@page
@model Projektopgave1._2.SeTemaUdstillingerBrugerModel
@{
}

<div class="overskrift"><h1>Vælg Udstilling</h1></div>
<div class="containerBruger">
    <div class="overskrift row">

        @foreach (var item in Model.Udstillinger)
        {

            <div class="column-2 p-2">
                <div class="card bg-dark text-white mx-auto">
                    <a asp-page="HørUdstillingBruger" asp-route-id="@item.Id">
                        <img src="~/images/@item.ImageName" width="550" height="300" alt="Card image">
                        <p class="centeredTitle"><strong>@item.Name</strong></p>
                    </a>
                </div>
            </div>
        }
    </div>
    <div>
        <a href="javascript:history.back()" class="overskrift btn btn-secondary mt-1">Tilbage</a>
    </div>

</div>
